---
import Layout0 from "../layouts/Layout0.astro";
import Hero from "../components/Hero.astro";

import Productos from "../components/Productos.astro";
---

<Layout0>
	<Hero />

	<main>
		<Productos />
	</main>
</Layout0>
