---
import Layout0 from "../layouts/Layout0.astro";
import Hero from "../sections/Hero.astro";

import Productos from "../sections/Productos.astro";
---

<Layout0 title="Home">
	<Hero />

	<main>
		<Productos />
	</main>
</Layout0>
