---

---

<footer class="flex-c">
  <a class="img" href="#">
    <img src="/img/logo-positivo.png" alt="logo" title="logo" />
  </a>
  <!-- <h3>"Eslogan de la empresa!"</h3> -->

  <div class="contact-info">
    <p><i class="bi bi-telephone"></i>+57 316 5433392</p>
    <p><i class="bi bi-envelope"></i> macia2099@gmail.com</p>
    <p><i class="bi bi-geo-alt"></i> Neiva - Huila, Colombia</p>
  </div>

  <div class="flex-r follow">
    <a target="_blank" href="https://tinyurl.com/contacto-macia"
      ><i class="bi bi-whatsapp"></i></a
    >
    <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
    <a target="_blank" href=""><i class="bi bi-tiktok"></i></a>
  </div>

  <code>© Copyright 2025 By MacV</code>
</footer>

<style>
  footer {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding-bottom: 30px;
    margin-top: 15px;
  }

  a.img {
    margin-top: -50px;
  }

  img {
    background-color: var(--clr-dark);
    width: auto;
    height: 60px;
    border-radius: 2px;
    padding: 15px 25px;
  }

  .contact-info p {
    display: flex;
    flex-direction: row;
    color: var(--clr-white);
  }

  .contact-info p i {
    margin-right: 10px;
  }

  .follow {
    gap: 30px;
    background-color: #ffffff0c;
    padding: 16px 30px;
    border-radius: 2px;
  }

  .follow i {
    font-size: 26px;
    color: var(--clr-white);
  }
</style>
