---

---

<section class="flex-c">
  <img src="img/logo-positivo.png" alt="logo-titulo" />
  <a class="boton" href="https://tinyurl.com/contacto-macia" target="_blank"
    >CONTACTANOS</a
  >
</section>

<style>
  section {
    width: 100%;
    height: 100vh;
    background-image: url("img/hero-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    gap: 60px;
  }

  img {
    width: 80%;
    max-width: 700px;
  }

  .boton {
    background-color: var(--clr-blue);
    color: var(--clr-dark);
  }
</style>
