<section class="flex-c">
  <h2>PRODUCTOS</h2>
  <div class="cards flex-r">
    <a href="/certificados" class="card flex-c">
      <h3>CERTIFICADOS</h3>
      <p>
        Olvídate del trabajo manual. Con nuestro programa inteligente de
        generación de certificados, podrás crear y entregar certificados
        personalizados, profesionales y listos para imprimir en solo unos clics.
      </p>
    </a>

    <a href="/e_learning" class="card flex-c">
      <h3>E-LEARNING</h3>
      <p>
        Convierte tu conocimiento en cursos rentables con un campus online
        moderno y escalable
      </p>
    </a>

    <a href="/sitios_web" class="card flex-c">
      <h3>PAGINAS WEB</h3>
      <p>
        Convierte tu marca en una presencia digital que vende, inspira y
        funciona
      </p>
    </a>
  </div>
</section>

<style>
  .cards {
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 40px 30px;
    border-radius: 2px;
    max-width: 310px;
    height: 380px;
  }

  .cards p {
    color: var(--clr-white);
    text-align: justify;
    margin-bottom: auto;
  }

  h3 {
    border-bottom: solid 1px var(--clr-white);
    font-size: 22px;
    margin-bottom: 20px;
    width: 100%;
    letter-spacing: 6px;
    padding-left: 6px;
    padding-bottom: 8px;
  }
</style>
